.App {
  text-align: center;
  scroll-snap-type: y mandatory;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-points-x: initial;
  overflow: hidden;
}

article{   
  font-size: 2rem;
  padding: 0 20%;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  margin: 100px 0;
  position: relative;      
  overflow: hidden   
}

@media(max-width:1024px){        
  article{
      font-size: 1.5rem;
      padding: 0 20px;
      margin: 50px 0;
  }
}