.scrollDownBtn{  
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: transparent;
    border: none;
    z-index: 2;
    outline: none;
    opacity: 0;
    -webkit-animation: showButton .5s 1.5s forwards;
    animation: showButton .5s 1.5s forwards;
    
    .scrollDownAnchor{

        &:hover{
            cursor: pointer;
        }
        color: white;                     
        display: block;
        -webkit-animation: animateButton 1s infinite;
        animation: animateButton 1s infinite;

        figure{
            margin: 0;
            img{
                width: 50px;
                height: 50px;
            }
        }
    }       
}

@-webkit-keyframes animateButton{
    0%{
        -webkit-transform: translateY(0);
    }
    75%{
        -webkit-transform: translateY(20%);
    }
    100%{
        -webkit-transform: translateY(0%);
    }
}
@keyframes animateButton{
    0%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(20%);
    }
    100%{
        transform: translateY(0%);
    }
}
@-webkit-keyframes showButton{
    
    to{
        opacity: 1;
    }
}
@keyframes showButton{
    to{
        opacity: 1;
    }
}
@-webkit-keyframes rotateButton{   
    to{
        -webkit-transform: rotateZ(720deg);
    }
}
@keyframes rotateButton{
    to{
        transform: rotateZ(720deg);
    }
}
@media(max-width:1024px){
    .scrollDownBtn{
        bottom: 7.5%;
    }
}