
.gotokuji-article{
    transition: background 1s ease;
    width: 100%;
   padding: 0;
    background-color: black;
    margin: 0;
    background-image: url('../images/Gotokuji_Temple/10c_1920.jpg');
    background-attachment: fixed;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position-y: -3500px;
    overflow: hidden;
    text-align: center;
    color: rgb(126, 126, 126);
    // font-family: "Gentium Book Basic",serif;

    .title-container{
        width: 50%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;

        .gotokuji-title{
            position: absolute;
            top: 50%;
            color: white;
            left: 50%;
            transform: translate(-50%, -50%);


            .gotokuji-title-eng{
                // transition: opacity 2s ease;
                opacity: 0;
                font-size: 4rem;
            }
            .gotokuji-title-jap{
                // transition: opacity 2s ease;
                opacity: 0;
                position: absolute;
                top: -20%;
                left: 15%;
                font-size: 4rem;
            }
        }
    }
    .gotokuji-container{
        width:50%;
        float: right;
        padding: 100px 0px;
        padding-bottom: 0;
        text-align: justify;
        opacity: 0;
        .gotokuji-hide-element{
            
            p{
                transform: translateX(100%);
            }
            img{
                opacity: 0;
            }
        }
        .gotokuji-show-element{
            transition: opacity .8s ease, transform .8s ease;
            p{
                transition: transform .8s ease;
                transform: translateX(0);
            }
            img{
                transition: opacity .8s .5s ease;
                opacity: 1;
            }
        }
        p{
            padding: 0 40px;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
}

.gotokuji-article-active{
    // background-position-y: 0;
    animation: backgroundDown .5s 1.2s ease forwards;

    .title-container{
        .gotokuji-title{
            .gotokuji-title-eng{
                animation: titleOpacity 1.5s .8s ease forwards;
            }
            .gotokuji-title-jap{
                animation: titleOpacity 1s ease forwards, positonDown .5s .5s ease forwards;
            }
        }
    }
    .gotokuji-container{
        animation: titleOpacity 1s 1.7s ease forwards;
    }
}
.gotokuji-gallery-arcticle{
    background-color: black;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}
.gotokuji-article-map{
    background-color: black;
    color: white;
    margin: 0;
    text-align: center;
    padding-bottom: 100px;
}
@keyframes positonDown{
    from{
        top: -20%;
    }
    to{
        top: 40%;
    }
}
@keyframes titleOpacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes backgroundDown {
    from{
        background-position-y: -3500px;
    }
    to{
        background-position-y: 0;
    }
}
@media(max-width:768px){
    .gotokuji-article{
        background-size: 100% 100%;
        .title-container{
            position: relative;
            width: 100%;
        }
        .gotokuji-container{
            color: rgb(0, 0, 0);
            float: none;
            width: 100%;
            background-color: rgba(255,255,255,.6);
            padding-bottom: 50px;
            p:last-child{
                margin-bottom: 0;
            }
        }
    }
}