$areas: a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, r, s;
$i: 1;
.gotokuji-gallery{
    max-width: 900px;
    margin: 0 auto;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "a a b b"
                         "a a c c"
                         "d d e e"
                         "f f e e"
                         "g g h h"
                         "i i j j"
                         "k k l l"
                         "m m l l"
                         "n n o o"
                         "p p r r"
                         "p p s s";

    @each $area in $areas{
        .gotokuji-gallery-item-#{$i}{
                    width: 100%;
                    grid-area: $area;
                    margin: 0;
                    opacity: 0;
                    transition: opacity 1s ease;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
        $i: $i + 1;
    }
    .showFigure{
        opacity: 1;
    }

}