:root{
    --background-position: 25%;
}
#head{
    
    // background-image: url("../images/Entrance_Background/1.jpg");
    // background-size: cover;

    // background-repeat: no-repeat;

    // background-position: center;
    // -webkit-transition: -webkit-background-image 3s ease-in;
    // -moz-transition: -moz-background-image 3s ease-in;
    // transition: background-image 3s ease-in;

    // // -webkit-animation: backgroundChange alternate 24s forwards infinite running ease-in-out, move 24s alternate-reverse infinite linear;
    // // -moz-animation: backgroundChange alternate 24s forwards infinite running ease-in-out, move 24s alternate-reverse infinite linear;
    // // animation: backgroundChange alternate 24s forwards infinite running ease-in-out, move 24s alternate-reverse infinite linear;

    // -webkit-animation: backgroundChange alternate 15s infinite ease-in-out, move 15s alternate-reverse infinite ease-in-out;
    // -moz-animation: backgroundChange alternate 15s infinite ease-in-out, move 15s alternate-reverse infinite ease-in-out;
    // animation: backgroundChange alternate 15s infinite  ease-in-out, move 15s alternate-reverse infinite ease-in-out;
    
    // scroll-snap-align: start;
    .background-div{
        transition: background-color .3s;
        background-color: rgba(0,0,0,.6);
        position: absolute;
        top:0;
        width: 100%;
        height: 100%;
        transition: all .3s;
    }
}

// @-webkit-keyframes backgroundChange{
//     0%{
//         -webkit-background-image: url("../images/Entrance_Background/2.jpg");
//     }
//     16%{
//         -webkit-background-image: url("../images/Entrance_Background/3.jpg");
//     }
//     32%{
//         -webkit-background-image: url("../images/Entrance_Background/4.jpg");
//     }
//     48%{
//         -webkit-background-image: url("../images/Entrance_Background/5.jpg");
//     }
//     64%{
//         -webkit-background-image: url("../images/Entrance_Background/6.jpg");
//     }
//     80%{
//         -webkit-background-image: url("../images/Entrance_Background/7.jpg");
//     }

//     96%{
//         -webkit-background-image: url("../images/Entrance_Background/1.jpg");
//     }
// }
// @-moz-keyframes backgroundChange{
//     0%{
//         -moz-background-image: url("../images/Entrance_Background/2.jpg");
//     }
//     16%{
//         -moz-background-image: url("../images/Entrance_Background/3.jpg");
//     }
//     32%{
//         -moz-background-image: url("../images/Entrance_Background/4.jpg");
//     }
//     48%{
//         -moz-background-image: url("../images/Entrance_Background/5.jpg");
//     }
//     64%{
//         -moz-background-image: url("../images/Entrance_Background/6.jpg");
//     }
//     80%{
//         -moz-background-image: url("../images/Entrance_Background/7.jpg");
//     }

//     96%{
//         -moz-background-image: url("../images/Entrance_Background/1.jpg");
//     }
// }
// @keyframes backgroundChange{
//     0%{
//         background-image: url("../images/Entrance_Background/2.jpg");
//     }
//     16%{
//         background-image: url("../images/Entrance_Background/3.jpg");
//     }
//     32%{
//         background-image: url("../images/Entrance_Background/4.jpg");
//     }
//     48%{
//         background-image: url("../images/Entrance_Background/5.jpg");
//     }
//     64%{
//         background-image: url("../images/Entrance_Background/6.jpg");
//     }
//     80%{
//         background-image: url("../images/Entrance_Background/7.jpg");
//     }

//     96%{
//         background-image: url("../images/Entrance_Background/1.jpg");
//     }
// }



@-webkit-keyframes backgroundChange{
    0%, 100%{
        -webkit-background-image: url("../images/Entrance_Background/1_1920.webp");
    }
    20%{
        -webkit-background-image: url("../images/Entrance_Background/2_1920.webp");
    }
    40%{
        -webkit-background-image: url("../images/Entrance_Background/3_1920.webp");
    }
    60%{
        -webkit-background-image: url("../images/Entrance_Background/4_1920.webp");
    }
    80%{
        -webkit-background-image: url("../images/Entrance_Background/5_1920.webp");
    }
}
@-moz-keyframes backgroundChange{
    0%, 100%{
        -moz-background-image: url("../images/Entrance_Background/1_1920.webp");
    }
    20%{
        -moz-background-image: url("../images/Entrance_Background/2_1920.webp");
    }
    40%{
        -moz-background-image: url("../images/Entrance_Background/3_1920.webp");
    }
    60%{
        -moz-background-image: url("../images/Entrance_Background/4_1920.webp");
    }
    80%{
        -moz-background-image: url("../images/Entrance_Background/5_1920.webp");
    }
}
@keyframes backgroundChange{
    0%, 100%{
        background-image: url("../images/Entrance_Background/1_1920.webp");
    }
    20%{
        background-image: url("../images/Entrance_Background/2_1920.webp");
    }
    40%{
        background-image: url("../images/Entrance_Background/3_1920.webp");
    }
    60%{
        background-image: url("../images/Entrance_Background/4_1920.webp");
    }
    80%{
        background-image: url("../images/Entrance_Background/5_1920.webp");
    }
}


@-webkit-keyframes move {
    from{
        -webkit-background-position-x: 0%;
        -webkit-background-position-y: 0%;
    }
    to{
        -webkit-background-position-x: var(--background-position);
        -webkit-background-position-y: var(--background-position);
    }
}
@-moz-keyframes move{
    from{
        -moz-background-position-x: 0%;
        -moz-background-position-y: 0%;
    }
    to{
        -moz-background-position-x: var(--background-position);
        -moz-background-position-y: var(--background-position);
    }
}
@keyframes move {
    from{
        background-position-x: 0%;
        background-position-y: 0%;
    }
    to{
        background-position-x: var(--background-position);
        background-position-y: var(--background-position);
    }
}