.hie-article{
    margin: 0;
    width: 100%;
    color: white;
    padding: 0;
    & > div{
        p{
            transition: opacity .5s ease-in-out;
        }
    }
    .hie-space{
        width: 100%;
        height: 50vh;
        // background-image: url('../images/Hie_Shrine/12.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        &:nth-child(2){
            background-image: url('../images/Hie_Shrine/12c.jpg');
        }
        &:nth-child(4){
            background-image: url('../images/Hie_Shrine/9c.jpg');
        }
        &:nth-child(6){
            background-image: url('../images/Hie_Shrine/4c.jpg');
        }
        
    }
    .hie-grid{
        padding: 50px 20%;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        p{
            transition: .5s cubic-bezier(.68,-0.55,.27,1.55);
            // transition: cubic-bezier(0.31,-0.03, 0.27, 1.55) .5s;
            position: relative;
            padding: 0;
        }
        img{
            transition: .5s cubic-bezier(.68,-0.55,.27,1.55);
            // transition: cubic-bezier(0.31,-0.03, 0.27, 1.55) .5s;
            position: relative;
            width: 100%;
            border-radius: 15px;
            // float: right;
            // display: block;
            // margin: 2px 5px;
        }
    }
    p{
        padding: 50px 20%;
    }
}
.hie-hide-first{
    p{
        opacity: 0;
    }
}
.hie-show-first{
    p{
        opacity: 1;
    }
}
.hie-hide-element{
    
    .hie-grid{

        p{
            opacity: 0;
            left: -50%;
        }
        img{
            opacity: 0;
            right: -50%;
        }
    }
}
.hie-show-element{
    opacity: 1;
    .hie-grid{

        p{
            opacity: 1;
            left: 0;
        }
        img{
            opacity: 1;
            right: 0;
        }
    }
}
@media(max-width:1366px){
    .hie-article{
        .hie-show-first{
            p{
                font-size: 1.5rem;
            }
        }
        .hie-grid{
            p{
                font-size: 1.5rem;
            }
        }
    }
}
@media(max-width:1024px){
    .hie-show-first{
        p{
            padding: 50px 20px;
        }
    }
}