#head{
    width: 100%;
    height: 100vh;
    position: relative;

    .cb-slideshow{
        width: 100%;
        height: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .cb-slideshow:after { 
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
    }
    .cb-slideshow:after { 
        content: '';
    }
    .background-div{
        transition: background-color .3s;
        background-color: rgba(0,0,0,.6);
        position: absolute;
        top:0;
        width: 100%;
        height: 100%;
        transition: all .3s;
    }
}
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    opacity: 0;
    animation: imageAnimation 15s linear infinite 0s; 
    transition: background-position-x 3s ease, background-position-y 3s ease;
}
@for $i from 1 through 5 {
    .cb-slideshow li:nth-child(#{$i}) span{
        background-image: url("../images/Entrance_Background/#{$i}_1920v2.webp");
        animation-delay: calc((#{$i} - 1) * 3s);
    }
}
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}