.meiji-gallery{
    width: 100%;  
    min-height: 100vh;

    .meiji-gallery-top{
        width: 100%;
        height: 70vh;
        background-color: rgb(45, 45, 58);
        display: grid;
        justify-items: center;
        align-items: center;

        .meiji-top-picture{
            max-width: 40%;
            height: 80%;
            border: 10px solid white;
            position: relative;

            .top-img{
                transition: opacity .3s ease;
                width: 100%;
                min-height: 100%;
                max-height: 100%;
            }
            button{
                width: 50px;
                height: 50px;
                outline: none;
                background: transparent;
                position: absolute;
                top: 50%;
                border-radius: 50px;
                border: none;

                &:hover{
                    cursor: pointer;
                }          
                figure{
                    padding:0;
                    margin: 0;

                    img{
                        width: 100%;
                        height: 100%;
                    }
                }     
            }
            .meiji-btnLeft{
                left: -120px;
                transform: translateY(-50%) rotateZ(90deg);
                
            }
            .meiji-btnRight{
                right: -120px;
                transform: translateY(-50%) rotateZ(270deg);
            }
        }
    }
    .meiji-gallery-bottom{
        width: 100%;
        min-height: 30vh;
        background-color: rgb(207, 198, 187);
        display: grid;
        align-content: center;
        padding: 10px 0;
        
        .meiji-bottom-grid{
            justify-items: center;
            width: 90%;
            height: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            grid-gap: 5px;
            transition: grid-template-columns .5s ease-in;
            
            .meiji-bottom-image{
                transition: transform .2s ease;;
                width: 100%;
                max-height: 115px;
                justify-self: center;
                opacity: 0;

                @for $i from 1 through 18{
                    &:nth-child(#{$i}){
                        animation-delay: $i * 0.05s;
                    }
                }
                &:hover{
                    cursor: pointer;
                    transform: scale(1.05,1.05);
                }
            }
        }
    }
}
@-webkit-keyframes opacityBlur{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes opacityBlur{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.trans{
    .meiji-bottom-image{
        animation: opacityBlur 3s ease forwards;
    }   
}

@media(max-width:768px){
    .meiji-gallery{
        .meiji-gallery-top{

            .meiji-top-picture{
                max-width: 100%;

                .meiji-btnLeft{
                    left: -20px;                   
                }
                .meiji-btnRight{
                    right: -20px;                   
                }
            } 
        }        
    }    
}