.meiji-head{
    width: 100%;
    height: 100vh;
    // background-color: black;
    display: grid;
    align-items: center;
    overflow: hidden;

    .meiji-head-grid{
        display: grid;
        width: 100%;
        height: 100vh;
        background-color: brown;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;

        .meiji-grid-item{
            width: 100%;
            height: 100%;

            img{
                width: 100%;
                height: 100%;
                position: relative;
                left: -100%;
                transition: all .5s ease;
            }

            .meiji-title{
                color: white;
                margin: 0 auto;
                width: max-content;
                height: max-content;
                position: relative;
                top: 50%;
                transform: translate(0, -50%);
                transition: all .5;
                right: -100%;


                .meiji-eng-title{
                    font-size: 4rem;
                    margin-bottom: 0;
                }
                .meiji-jap-title{
                    font-size: 2.5rem;
                }
            }
        }
    }
}
.meiji-show{
    .meiji-head-grid{
        .meiji-grid-item{
            img{
                animation: swipeLeft .5s ease forwards;
            }
            .meiji-title{
                animation: swipeRight .5s .5s cubic-bezier(0.54,-0.01, 0, 0.97) forwards;
            }
        }
        
    }    
}
@media(max-width:1024px){
    .meiji-head{       
        .meiji-head-grid{
            grid-template-columns: 1fr;
            .meiji-grid-item{
                .meiji-title{
                    top: 0;
                    transform: translate(0,0);
                }
            }
        }
    }
}
@keyframes swipeLeft{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}
@keyframes swipeRight{
    from{
        right: -100%;
    }
    to{
        right: 0%;
    }
}