.meiji-article{
    padding-top: 20px;
    padding-bottom: 40px;
    background-size: 100% 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('../images/Meiji_Shrine/3v2c_1920.webp');
    margin: 0 auto;
    text-align: center;   
}
.meiji-article-map{
    color: rgb(255, 255, 255);
    background-image: url('../images/Meiji_Shrine/8c_1920.webp');
    padding-bottom: 85px;
    .map-grid{
        .map-second{
            background-color: rgba(255,255,255,.8);
            color: black;
        }
    }
}
