nav{
    font-size: 1.5rem;
    font-family: 'Stylish', sans-serif;   
    display: flex;  
    justify-content: center;
    width: 100%;
    z-index: 10;
    scroll-snap-align: center;
    height: auto;
    max-height: 700px;

        ul{
            list-style-type: none;
            padding-left: 0;
            transition: position 1.5s ease;

            li{
                display: inline-block;
    
                a{
                    display: block;
                    padding: 0px 30px;
                    outline: none;
                    text-decoration: none;
                    color: purple;
                }
                a:after{
                    display: block;
                    content: '';
                    border-bottom: 2px solid white;
                    transform: scaleX(0);
                    transition: transform .3s ease-in-out;
                }
                a:hover:after{
                    transform: scaleX(1);
                }
            }
        }          
}
.gridList{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    max-width: 100%;
    width: 100%;
    transition: padding .5s, grid-template-columns .5s;
}
#fixedNav{
    transition: position .5s, height 1s ease, opacity 1s ease;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    top: 0;
    text-align: center;
    overflow: hidden;

    ul{
        transition: all .5s;

        li{         
            a{
                transition: color .5s, padding .5s;
                padding: 10px 30px;
                color: rgb(224, 224, 40);

                &::after{
                    border-bottom: 2px solid rgb(224, 224, 40);;
                } 
            }             
        }
    }
}
#relativeNav{
    transition: background-color .5s;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    ul{
        li{
            opacity: 0;
            position: relative;
            a{
                transition: color .5s, padding .5s;
                color: white;
            }        
        }
    }
}
.open{
    max-height: 100vh;
    height: 100%;
    opacity: 1;
    pointer-events: all;

    ul{
        margin: 25px;
    }
}
.close{
    height: 0;
    opacity: 0;
    pointer-events: none;
}
.showButtons{
    -webkit-animation: showBtns .5s ease-in forwards;
    animation: showBtns .5s ease-in forwards;

    @for $i from 1 through 5{
        &:nth-child(#{$i}){
            animation-delay: (($i +6) * 0.2s);
        }
    }
}
@-webkit-keyframes showBtns {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes showBtns {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media(max-width:1024px){
    #relativeNav{   
        margin-top: 1px;  
        
        .gridList{   
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5,20%);
            height: 100vh;
        }
    }
    nav{   
        max-height: 100%;
        display: block;

        ul{
            margin: 0;

            li{
                display: flex;
                align-items: center;
                position: relative;
                padding: 1em 0;
                
                a{
                    width: max-content;
                    margin: 0 auto;
                    font-size: 1.9rem;
                }
                a::after{                  
                    margin: 0 auto;
                }
            }
        }
    }    
}
@media(max-width:1024px) and (orientation:landscape){
    nav{
        ul{
            li{
                padding: 0 0;
                a{
                    font-size: 1.5rem;
                }
            }
        }
    }
}
