#sensoji{
    background-image: url('../images/Other/15.png');
    background-attachment: fixed;
    background-repeat: repeat;

}
.shrine-section{   
    scroll-snap-align: start;
    overflow: hidden;
    
    .sensoji-head{  
        width: 100%;
        height: 100vh;

        .sensoji-img{      
            width: 100%;
            height: 0;
            background-image: url("../images/Senso_ji_Temple/3.jpg");
            background-position: center;
            background-size: cover;
            background-attachment: fixed;

            .sensoji-dim{
                background-color: rgba(0,0,0,.4);
                width: 100%;
                height: 0;
                position: relative;  

                .sensoji-title{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    h1{
                        color: white;
                        pointer-events: none;
                        opacity: 0;
                    }
                }
            }
            
        }
    }
    
    .sensoji-article
    {           
        text-align: center; 
        img{
            max-width: 100%;
        }
    }   
}
.sensoji-margin{
    position: relative;
}
.imgDown{
    -webkit-animation: addHeight .5s forwards ease;
    animation: addHeight .5s forwards ease;
}
.dimDown{
    -webkit-animation:addHeight .5s .5s forwards ease;
    animation: addHeight .5s .5s forwards ease;
}
.showEngTitle{
    -webkit-animation: showTitle .5s 1s forwards ease;
    animation: showTitle .5s 1s forwards ease;
}
.showJapTitle{
    -webkit-animation: showTitle .5 1.5s forwards ease;
    animation: showTitle .5 1.5s forwards ease;
}
@-webkit-keyframes showTitle {
    to{
        opacity: 1;
        pointer-events: all;
    }
}
@keyframes showTitle {
    to{
        opacity: 1;
        pointer-events: all;
    }
}
@-webkit-keyframes addHeight{
    to{
        height: 100%;
    }
}
@keyframes addHeight{
    to{
        height: 100%;
    }
}
@-webkit-keyframes mapElementLeft{
    to{
        left: 0;
    }
}
@keyframes mapElementLeft{
    to{
        left: 0;
    }
}
@-webkit-keyframes mapElementTop{
    to{
        top: 0;
    }
}
@keyframes mapElementTop{
    to{
        top: 0;
    }
}
@-webkit-keyframes mapElementRight{
    to{
        right: 0;
    }
}
@keyframes mapElementRight{
    to{
        right: 0;
    }
}
@media (orientation: landscape) and (max-width:1024px){
    .shrine-section{
        p{
            font-size: 1rem;
            line-height: 2rem;
        }
    }
}