.sensoji-gallery{
    max-width: 1600px;
    max-height: 200px;  
    margin: 100px auto;  
    opacity: 0;
    transition: all .8s cubic-bezier(.68,-0.55,.27,1.55);
    pointer-events: none;
    position: relative;
    top: -150px;

    h3{
        font-family: 'Caveat', sans-serif;
        margin: 0;
        font-size: 3rem;
    }
    .sensoji-gallery-container{
        max-width: inherit;
        max-height: inherit;
        display: flex;
        flex-direction: row;
        overflow: hidden;       
        padding-top: 30px;
        margin: 0;

        .sensoji-gallery-item{
            min-width: 300px;
            min-height: 200px;
            margin: 0 5px;
            position: relative;
            transition: all .3s ease;
            &:hover{
                cursor: grabbing;
                transform: translateY(-20px);
                
                .expand-gallery-item{
                    opacity: 1;
                }
            }
            img{
                min-width: 100%;
                max-height: 100%;
            }
            .expand-gallery-item{
                transition: .3s ease;
                width: 20px;
                height: 20px;
                background-color: transparent;
                position: absolute;
                top: 0;
                right: 0;
                opacity: 0;
                background-image: url("../images/Icons/expand.png");
                background-size: 100% 100%;

                &:hover{
                    cursor: pointer;
                    background-color: rgba(255, 255, 255, .5);
                    -webkit-animation: hoverExpand .3s ease ;
                    animation: hoverExpand .3s ease ;
                }
            }
        }     
    }  
}
.showGallery{
    opacity: 1;
    pointer-events: all;
    top: 0;
}
@media screen and (max-width:760px){
    .sensoji-gallery{   
       
        h3{
            font-size: 2rem;
        }
        .sensoji-gallery-container{
            height: 60vh;
            margin: 0;
            padding:30px 10px 0px 0px;


            .sensoji-gallery-item{
                overflow-y: visible;
                min-width: 100%;
                height: 100%;   
                img{
                    height: 100%;
                }    
            }
        }       
    }
}
@media screen and (max-width:760px) and (orientation: landscape){
    .sensoji-gallery{  
        .sensoji-gallery-container{          
            .sensoji-gallery-item{
                min-width: 50%;  
            }
        }       
    }
}
@-webkit-keyframes hoverExpand{
    0%{
        transform: scale(1, 1);
    }
    50%{
        transform: scale(1.2, 1.2);
    }
    100%{
        transform: scale(1, 1);
    }
}
@keyframes hoverExpand{
    0%{
        transform: scale(1, 1);
    }
    50%{
        transform: scale(1.2, 1.2);
    }
    100%{
        transform: scale(1, 1);
    }
}
