.shrine-presentation{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    
    .presentation-background{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        transition: all .5s ease;
        opacity: 0;
        display: block;

        @for $i from 1 through 5 {
            &:nth-child(#{$i}){
                background-image: url("../images/Presentation/#{$i}_500.webp");
            }
        }
        .blur{
            transition: background-color .5s ease;
            position: absolute;
            background-color: rgba(0,0,0,.8);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &:hover .blur{
            cursor: pointer;
            background-color: rgba(0,0,0,.1);
        }
    }
    .presentation-container{
        position: absolute;
        top: 0;
        height: 0;
        width: 100%;
        height: 100%;
    }
}
.displayBackgorund{
    -webkit-animation: displayBackgorunds .5s ease-in forwards;
    animation: displayBackgorunds .5s ease-in forwards;
    @for $i from 1 through 5{
        &:nth-child(#{$i}){
            animation-delay: ($i * 0.2s);
        }
    }
}
@-webkit-keyframes displayBackgorunds{
    from{
        opacity: 0;
        pointer-events: none;
    }
    to{
        opacity: 1;
        pointer-events: all;
    }
}
@keyframes displayBackgorunds{
    from{
        opacity: 0;
        pointer-events: none;
    }
    to{
        opacity: 1;
        pointer-events: all;
    }
}
.changeBlurOpacity{
    -webkit-animation: changeBlurgroundOpacity 2s ease-in;
    animation: changeBlurgroundOpacity 2s ease-in;
    @for $i from 1 through 5{
        &:nth-child(#{$i}){
            animation-delay: ($i * 0.2s);
        }
    }
}
@-webkit-keyframes changeBlurgroundOpacity{
    0%{
        background-color: rgba(0,0,0,.1);
    }
    100%{
        background-color: rgba(0,0,0,.8);
    }
}
@keyframes changeBlurgroundOpacity{
    0%{
        background-color: rgba(0,0,0,.1);
    }
    100%{
        background-color: rgba(0,0,0,.8);
    }
}
@media(max-width:1024px){
    .shrine-presentation{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 20%);
    }
}