.p2-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .p2{
        font-family: 'Montserrat', sans-serif;
        font-size: 3rem;
        color:white;
        margin: 0;
        transform: translateX(40%);
        opacity: 0;
        -webkit-animation: loadTitle 1.0s forwards;
        animation: loadTitle 1.0s forwards;
        padding: 50px 70px;
        display: block;
        -webkit-transition: font-size 1s;
        -moz-transition: font-size 1s;
        -o-transition: font-size 1s;
        transition: font-size 1s;
    }

    .p2-span{       
        display: block;
        border-bottom: 2px solid white;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-animation: loadSpan .5s .7s forwads;
        animation: loadSpan .5s 1s forwards;     
    }
}
@-webkit-keyframes loadSpan {
    from{
        -webkit-transform: scaleX(0); 
    }  
    to{
        -webkit-transform: scaleX(1); 
    }
}
@keyframes loadSpan {
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}

@-webkit-keyframes loadTitle {
    from{
        -webkit-transform: translateX(40%);
        opacity: 0;
    }  
    to{
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes loadTitle {
    from{
        transform: translateX(40%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}
@media(max-width:1024px){
    .p2-container{
        width: max-content;
        .p2{
            font-size: 1.5rem;
            padding: 35px 50px;
        }   
    } 
}
@media(max-width:568px){
    .p2-container{   
        .p2{
            font-size: 1.1rem;
            padding: 20px 30px;
        }
        .p2-span{
            border-bottom: 1px solid white;   
        }
    } 
}